<html>
	<head>
		<title>Amazing Sign Up</title>
	</head>

	<body style="background-image: url('backgrounds/background3.jpeg'); background-repeat: no-repeat; background-attachment: fixed; background-size: cover;">
		<div id="first_intro">
			<marquee><font color="yellow"><h1>The Next Gen Facial Recognition Sign Up</h1></font></marquee>
			<hr/>
		</div>

		<div id="explaination" align="center" style="float: left; border:5px solid red;">
                        <form action="javascript: alert('its Traditional way, lets try new one');" title="The Traditional way">
                                <font color="lightgreen">
                                <h1>
                                <p>This is the usual signup based on your details:</p><br/>
                                <label id="username">Enter your UserName &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</label><input type="text" placeholder="Enter UserName"/> <br/>
                                <label id="password">Enter your Password &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</label><input type="password" placeholder="Enter Password"/> <br/>
                                <!-- <label id"passwd">Enter your Password &nbsp&nbsp&nbsp&nbsp&nbsp</label><input type="password" placeholder="Enter Password"/> <br/>
				<label id="cpasswd">Confirm your Password &nbsp</label><input type="password" placeholder="Confirm Password"/> <br/> <br/> -->
                                <input type="submit" value="Just Login"/> <br/>
                                </h1>
                                </font>
                        </form>
                </div>


		<div id="new_explaination" align="left" style="float: right; border:5px solid yellow;">
                        <form action="http://192.168.43.223:5000/logs" title="The New way">
				<font color="orange">
				<h1>
					<p>
						<ul>
							<li>This login require nothing except your face</li>
							<li>in just ONE SINGLE CLICK you can login</li>
							<li>No fear of password attacks or spoofing</li>
							<li>Facial Recognition is done on model<br> trained at time of signup</li>
							<li>It all happens behind the scene.</li>
						</ul>
					</p>
				<center><input type="submit" value="LogIN"/></center>
				</h1>
				</font>
                        </form>
		</div>

	</body>
</html>
