<html>
	<head>
		<title>Amazing Sign Up</title>
	</head>

	<body style="background-image: url('backgrounds/background3.jpeg'); background-repeat: no-repeat; background-attachment: fixed; background-size: cover;">
		<div id="first_intro">
			<marquee><font color="yellow"><h1>The Next Gen Facial Recognition Sign Up</h1></font></marquee>
			<hr/>
		</div>

		<div id="explaination" align="center" style="float: left; border:5px solid red;">
                        <form action="javascript: alert('its Traditional way, lets try new one');" title="The Traditional way">
                                <font color="lightgreen">
                                <h1>
                                <p>This is the usual signup based on your details:</p><br/>
                                <label id="name">Enter your Name &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</label><input type="text" placeholder="Enter Name"/> <br/>
                                <label id="email">Enter your Mail ID &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</label><input type="email" placeholder="Enter Valid Email"/> <br/>
                                <label id"passwd">Enter your Password &nbsp&nbsp&nbsp&nbsp&nbsp</label><input type="password" placeholder="Enter Password"/> <br/>
				<label id="cpasswd">Confirm your Password &nbsp</label><input type="password" placeholder="Confirm Password"/> <br/> <br/>
                                <input type="submit" value="Just Sign Up"/> <br/>
                                </h1>
                                </font>
                        </form>
                </div>


		<div id="new_explaination" align="left" style="float: right; border:5px solid yellow;">
                        <form action="http://192.168.43.223:5000/signup" title="The Traditional way">
				<font color="orange">
				<h1>
					<p>
						<ul>
							<li>This signup require nothing except your face</li>
							<li>in just ONE SINGLE CLICK you can signup</li>
							<li>No fear of password attacks or spoofing</li>
							<li>login part will be demonstarted ahead.</li>
							<li>Behind the scenes your 100 pics are collected</li>
							<li>Machine Learning and Facial Recognition</li>
							<li>It all happens behind the scene.</li>
						</ul>
					</p>
				<center><input type="submit" value="submit"/></center>
				</h1>
				</font>
                        </form>
		</div>

		<h3><a href="http://192.168.43.223:5000/login">LOG IN</a></h1>
		<h3><a href="http://192.168.43.223:5000/verify">VERIFY</a><h3>

	</body>
</html>
